<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post">
<table width="252" border="1">
  <tr>
    <th width="144" scope="row"><label>
      <input type="text" name="textfield" />
    </label></th>
    <td width="92"><label>
      <input type="submit" name="Submit" value="Search" />
    </label></td>
  </tr>
</table>
<table width="182" border="1">
  <tr>
    <th width="31" scope="row">sl.no</th>
    <td width="54">Certificate</td>
    <td width="54">Documents</td>
    <td width="24"><a href="#"></a></td>
    <td width="45">&nbsp;</td>
  </tr>
  <tr>
    <th height="23" scope="row">&nbsp;</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#">Edit</a></td>
    <td><a href="#">Delete</a></td>
  </tr>
</table>
</form>
</body>

</html>
